/*!
 * Start Bootstrap - Shop Homepage (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */

html, body {margin:0;padding:0;height:100%;}


body {
    font-family: 'Quicksand','One Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
    padding-top: 0px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}


/*

OTHER

*/

.information-banner {
    display: inline-block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 150px;
    margin: auto;
    text-align: center;
    background-color: #f3f3f3;

}

.empty-page-message {
    padding-top: 50px;
    margin: auto;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
}

/*

FOOTER

*/

.footer-wrapper {
    border-top: 1px solid #080808;
    margin-top: 150px;
    text-align: center;
}

/*
.footer-container {
    text-align: center;
    position: relative;
    margin: auto;
    bottom: 5px;
}
*/

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
}

.copyright-text {
    display: inline-block;
    padding-right: 15px;
    border-right: 2px solid #EDD7EC;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}


/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.5;
    text-decoration: none;
}

.slide-image {
    width: 100%;
}

/*

CAROUSEL

*/
.carousel-holder {
    margin-bottom: 30px;
}

.carousel-control,
.item {
    border-radius: 4px;
}

.caption {
    height: 130px;
    overflow: hidden;
}

.caption h4 {
    white-space: nowrap;
}

.thumbnail img {
    width: 100%;
}

.ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #d17581;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}

#added-confirmation {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #6c6;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    border-color: #002;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-family: 'Quicksand','One Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
}

#added-confirmation.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

.nav {
    font-weight: bold;
    font-size: 22px;
}

.page-title {
    text-align: center !important;
    margin-bottom: 25px;
}

.information-text {
    margin-left: 20%;
    margin-right: 20%;
    border: 1px solid #080808;
    padding: 20px;
}

/*

PRODUCT

*/

.product-wrapper {
    width: 80%;
    margin: auto;
    border-right: 1px solid #EDD7EC;
    border-left: 1px solid #EDD7EC;
}

.product {
    padding: 50px;
    text-align: center;
    overflow: hidden;
    float: none;
}

.product-image {
    width: 100%;
    height: auto;
}

.display-none {
    display: none;
}

.add-to-cart-button, .add-to-cart-button:focus {
    color: #000;
    -webkit-transition-duration: 0.7s;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    border-color: #202;
    bottom: 0;
}

.add-to-cart-button:active {
    background-color: #ccb6c6;
    border-color: #ccb6c6;
    color: #000;
}

.add-to-cart-button:hover {
    background-color: #eed8e8;
    border-color: #eed8e8;
    color: #000;
}

.product a {
    letter-spacing: 0.2px;
    font-size: 15px;
    font-weight: bold;  
}

.product a:link, .product a:visited {
    color: #313;
    text-decoration: none;
}

.product a:hover {
    color: #a7a;
} 

.product-name::after {
  height: 2px;
  width: 50px;
  content: " ";
  background: #4C3044;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.product-price {
    font-size: 17px;
    font-family: 'GothamHTF-Medium';
    font-weight: 200;
    letter-spacing: 0.5px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.product-container {
    margin-top: 40px;
    margin-left: 15%;
    margin-right: 15%;
}

.product-title {
    font-weight: bold;
    font-size: 25px;
    margin-top: 15px;
}

.price-description {
    font-size: 21px;
}

.product-description {
    padding-bottom: 30px;
}

.quantity-left {
    font-style: italic;
    font-size: 13px;
    color: #666666;
}

.quantity-left-number {
    font-size: 15px;
    font-style: normal;
}

/*  

--- CHECKOUT ---

*/

.customer-info-form {
    width: 50%;
    max-width: 500px;
    min-width: 300px;
    margin-left: auto;
}

.order-summary {
    overflow: auto;
    border: 1px solid #EDD7EC;
    padding-right: 100px;
    min-width: 700px;
}


.summary-quantity {
    color: #8a8c91;
    padding-right: 5px;
}

.checkout-thumbnail {
    width: 100px;
    margin: 20px;
}

.summary-row {
    border: 1px solid #EDD7EC;
    margin: 15px;
    overflow: auto;
}

.checkout-total {
    width: 200px;
    margin-left: auto;
}

.checkout-sum {
    font-size: 18px;
    font-weight: bold;
}

.submit-customer {
    width: 50%;
    margin: auto;
    display: block;
}

/*  

--- CART ---

*/

.cart-wrapper {
    width: 100%;
    margin: auto;
}

.update-quantity-form {
    width: 150px;
    margin-top: 20px;
}

.delete-button {
    float: right;
    vertical-align: bottom;
    margin-top: 15px;
}

.cart-products {
    border-left: 1px solid #EDD7EC;
    height: 100%;
}

.cart-thumbnail {
    width: 150px;
    margin: 20px;
}

.cart-row {
    border: 1px solid #EDD7EC;
    margin: 15px;
    overflow: auto;
}

.cart-row-subtotal {
    font-size: 14px;
}

.clear-cart {
    margin: 25px;
}

 h4 {
    border-bottom: 1px solid #d3c0d2;
    padding-bottom: 15px;
}

.cart-summary {
    min-height: 100% !important;
    height: 100%;
    padding-right: 50px;
    border-right: 1px solid #EDD7EC;
    border-left: 1px solid #EDD7EC;
    text-align: center;
}

.bag-total {
    margin-top: 15px;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #d3c0d2;
    width: 100%;
    text-align: right;
    border-collapse: separate;
}

.bag-total > tbody > tr > td {
    font-weight: bold;
}

.bag-total > tbody > tr > td:first-child {
    text-align: left;
    font-weight: normal;
    font-size: 15px;
    color: #777173;
}

.total-price {
    font-size: 18px;
    text-align: right;
}

.checkout {
    margin-top: 20px;
}


/* For large screens */

@media (min-width: 900px) {
    .cart-wrapper {
        height: 100%;
        margin: auto;
    }
    .cart-summary {
    max-width: 300px;
    }

    .cart-row {
        min-width: 600px;
    }
    .cart-row-subtotal {
        position: absolute;
        top: 8px;
        right: 25px;
        border-left: 1px solid #EDD7EC;
        padding-left: 20px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
}

@media (min-width: 1180px) {
    .cart-wrapper {
        width: 80%;
    }
}

@media (max-width: 899px) {
    .cart-row-subtotal {
        display: block;
        margin-top: 10px;
        text-align: right;
    }
    .order-summary {
        display: none;
    }
    .customer-info-form {
        margin: auto;
    }
}


/*  

FONTS

 */
/*
@font-face {
    font-family: 'Quicksand';
    src: url('../../../resources/fonts/Quicksand-Regular.otf') format("opentype");
}
*/
@font-face {
    font-family: 'AcmeRegular';
    src: url('../resources/fonts/AcmeRegular.eot');
    src: local('AcmeRegular'), url('../resources/fonts/AcmeRegular.woff') format('woff'), url('../resources/fonts/AcmeRegular.ttf') format('truetype');
}
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_31240">Text with this font applied</p> */
.acme-regular {
    font-family: 'AcmeRegular' !important;
}

/* Font downloaded from FontsForWeb.com */
