<<define "title">> Cart - Gwiyomi <<end>>

<<define "content">>


<div class='cart-wrapper row' ng-controller="cartProductsCtrl">
<ul class='cart-products col-sm-12 col-md-8'>

    <div class='cart-row' ng-repeat="p in cartProducts">
        <div class='col-xs-12 col-sm-3'>
            <img src='{{p.imagePath}}' class='cart-thumbnail img-responsive' />
        </div>
    <div class='col-xs-12 col-sm-9 cart-product-info'>
        <h4>
            {{p.name}} {{p.price}} :-
            <span class='cart-row-subtotal'>SUM: <span style='font-weight:bold'>{{p.subTotal}}:-</span></span>
        </h4>

        <form class='update-quantity-form'>
            <div class='product-id' style='display:none;'>{{p.id}}</div>
            <div class='input-group' ng-controller="updateProductCtrl">
                <input type='number' name='quantity' ng-model='p.quantity' class='form-control cart-quantity' min='0' />
                    <span class='input-group-btn'>
                        <button class='btn btn-default' ng-click="updateCartProduct()" type='submit'>Update</button>
                    </span>
            </div>
        </form>

        <a ng-controller="deleteProductCtrl" ng-click="deleteCartProduct()" class='btn btn-default delete-button'>
            Delete
        </a>
    </div>
    </div>

<div style="text-align: right">
    <button class="btn btn-default clear-cart" name="ClearButton" ng-click="clearCart()">Clear all</button>
</div>

</ul>

   <div class='col-sm-12 col-md-4 cart-summary'>
        <h4 style='text-align:center' class='m-b-10px'>Cart Total</h4>
            <table class='bag-total'>
                <tbody>
                    <tr>
                        <td>Antal: </td>
                        <td id='cart-count'>{{parentObj.cartCount}}</td>
                    </tr>
                    <tr>
                        <td>Summa: </td>
                        <td id='cart-sum'>{{totalSum}}:-</td>
                    </tr>
                    <tr>
                        <td>Frakt: </td>
                        <td id='cart-shipping'>{{shipping}}:-</td>
                    </tr>
                </tbody>
            </table>
            <h3 class='total-price'>Totalt: <span id='cart-total' style='font-weight:bold'>{{totalSum+shipping}}:-</span></h3>
            <a href='checkout.html' class='btn btn-success m-b-10px checkout'>
                <span class='glyphicon glyphicon-shopping-cart'></span>Fortsätt till betalning
            </a>
        </div>
    </div>
</div>


<<end>>
<!-- 
<div class='col-md-12'>
    if($action=='removed'){
        echo "<div class='alert alert-info'>";
            echo "Product was removed from your cart!";
        echo "</div>";
    }
 
    else if($action=='quantity_updated'){
        echo "<div class='alert alert-info'>";
            echo "Product quantity was updated!";
        echo "</div>";
    }
 
    else if($action=='exists'){
        echo "<div class='alert alert-info'>";
            echo "Product already exists in your cart!";
        echo "</div>";
    }
 
    else if($action=='cart_emptied'){
        echo "<div class='alert alert-info'>";
            echo "Cart was emptied.";
        echo "</div>";
    }
 
    else if($action=='updated'){
        echo "<div class='alert alert-info'>";
            echo "Quantity was updated.";
        echo "</div>";
    }
 
    else if($action=='unable_to_update'){
        echo "<div class='alert alert-danger'>";
            echo "Unable to update quantity.";
        echo "</div>";
    }
echo "</div>"; 

// $cart_count variable is initialized in navigation.php
if($cart_count>0){
 
    // KANSKE FEL
    $cart_item->user_id=isset($_COOKIE['user_id']) ? $_COOKIE['user_id'] : "1";
    $stmt=$cart_item->read();
 
    $total=0;
    $item_count=0;
echo "<div class='cart-wrapper row'>";
echo "<ul class='cart-products col-sm-12 col-md-8'>";
    while ($row = $stmt->fetch(PDO::FETCH_ASSOC)){
        extract($row);
 
        $sub_total=$price*$quantity;
 
        $product_image->product_id=$id;
        $stmt_product_image=$product_image->readFirst();

        echo "<div class='cart-row'>";
            while ($row_product_image = $stmt_product_image->fetch(PDO::FETCH_ASSOC)){
                echo "<div class='col-xs-12 col-sm-3'>";
                    echo "<img src='{$image_dir}{$row_product_image['name']}' class='cart-thumbnail img-responsive' />";
                echo "</div>";
            }
            // product name
            echo "<div class='col-xs-12 col-sm-9 cart-product-info'>";
                echo "<h4>";
                    echo "{$name} " . number_format($price, 0, '.', ',') . ":-";
                    echo "<span class='cart-row-subtotal'>SUMMA: <span style='font-weight:bold'>" . number_format($sub_total, 0, '.', ',') . ":-</span></span>";
                echo "</h4>";

                // update quantity
                echo "<form class='update-quantity-form'>";
                    echo "<div class='product-id' style='display:none;'>{$id}</div>";
                    echo "<div class='input-group'>";
                        echo "<input type='number' name='quantity' value='{$quantity}' class='form-control cart-quantity' min='1' />";
                            echo "<span class='input-group-btn'>";
                                echo "<button class='btn btn-default' type='submit'>Update</button>";
                            echo "</span>";
                    echo "</div>";
                echo "</form>";

                // delete from cart
                echo "<a href='scripts/remove_from_cart.php?id={$id}' class='btn btn-default delete-button'>";
                    echo "Delete";
                echo "</a>";
            echo "</div>";
        echo "</div>";


 
        $item_count += $quantity;
        $total+=$sub_total;
    }
?>

<div style="text-align: right">
    <button class="btn btn-default clear-cart" name="ClearButton" onclick='clearCart()'>Clear all</button>
</div>

<?php
    echo "</ul>"; 
    echo "<div class='col-sm-12 col-md-4 cart-summary'>";
            echo "<h4 style='text-align:center' class='m-b-10px'>Cart Total</h4>";
            echo "<table class='bag-total'>";
                echo "<tbody>";
                    echo "<tr>";
                        echo "<td>Count: </td>";
                        echo "<td id='cart-count'>{$item_count}</td>";
                    echo "</tr>";
                    echo "<tr>";
                        echo "<td>Sum: </td>";
                        echo "<td id='cart-sum'>" . number_format($total, 0, '.', ',') . ":-</td>";
                    echo "</tr>";
                    echo "<tr>";
                        echo "<td>Shipping: </td>";
                        echo "<td id='cart-shipping'>0:-</td>";
                    echo "</tr>";
                echo "</tbody>";
            echo "</table>";
            echo "<h3 class='total-price'>Total: <span id='cart-total' style='font-weight:bold'>" . number_format($total, 2, '.', ',') . ":-</span></h3>";
            echo "<a href='checkout.php' class='btn btn-success m-b-10px checkout'>";
                echo "<span class='glyphicon glyphicon-shopping-cart'></span> Proceed to Checkout";
            echo "</a>";
        echo "</div>";
    echo "</div>";
echo "</div>";
 
}
 
else{
    echo "<div class='col-md-12'>";
        echo "<div class='alert alert-danger'>";
            echo "No products found in your cart!";
        echo "</div>";
    echo "</div>";
}
// layout footer 
include 'layout_foot.php';
?>

<script>
function clearCart() {
    $.ajax({
        url: "scripts/clear_cart.php",
        success: function(data){
                alert(data)
         }
    });
}

function updateSummary() {
    $.ajax({
        url: "scripts/update_cart_summary.php",
        success: function(data) {
            var ret = eval(data);
            document.getElementById("cart-count").innerHTML = ret[0];
            document.getElementById("cart-sum").innerHTML = ret[1] + ":-";
            document.getElementById("cart-shipping").innerHTML = ret[2] + ":-";
            document.getElementById("cart-total").innerHTML = (ret[1]+ret[2]) + ":-";   
        }
    });
}

$(document).ready(function() {  
    // update quantity button listener
    $('.update-quantity-form').on('submit', function(){  
        // get basic information for updating the cart
        var id = $(this).find('.product-id').text();
        var quantity = $(this).find('.cart-quantity').val();
     
        $.ajax({
            data: {
                'id': id, 
                'quantity': quantity
            },
            type: "post",
            url: "scripts/update_quantity.php",
            success: function(data) {
                updateSummary();
            }
        });
        return false;
    });
})

</script>

-->