<<define "title">> Checkout - Gwiyomi <<end>>

<<define "content">>

<div class='row' ng-controller="cartProductsCtrl">

<div class='checkout-wrapper'>
    <div class='customer-info-container col-md-6 col-xs-12' ng-controller="checkoutCtrl">
        <form name="customerInfo" class='customer-info-form'>
        <legend>Beställningsinformation</legend>
          <div class="form-group">
            <label for="first-name">Förnamn *</label>
            <input type="text" class="form-control" ng-model="firstName" required>
          </div>
          <div class="form-group">
            <label for="last-name">Efternamn *</label>
            <input type="text" class="form-control" ng-model="lastName" required>
          </div>
          <div class="form-group">
            <label for="city">Stad *</label>
            <input type="text" class="form-control" ng-model="city" required>
          </div>
          <div class="form-group">
            <label for="street-address">Gatuadress *</label>
            <input type="text" class="form-control" ng-model="streetAdress" required>
          </div>
          <div class="form-group">
            <label for="zip-code">Postnummer *</label>
            <input type="text" class="form-control" ng-model="zipCode" required>
          </div>
          <!--
          <div class="form-group">
            <label for="country">Country *</label>
            <input type="text" class="form-control" ng-model="country" required>
          </div>
            -->
          <div class="form-group">
            <label for="email">Email *</label>
            <input type="email" class="form-control" ng-model="email" required>
          </div> 
          <fieldset class="form-group">
            <legend>Betalningssätt</legend>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" ng-model="paymentType" value="creditCard" >
                        Kreditkort
                </label>
            </div>
            <div class="form-check disabled">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input"  ng-model="paymentType" value="option3" disabled>
                        (Fler att bli tillagda snart)
                </label>
            </div>
        </fieldset>          
        </form>
           
        <div ng-hide="paymentType==creditCard" >
            <form name="cardForm" ng-submit="charge()" id="payment-form" class='customer-info-form'>
                <div class="form-row">
                    <label for="card-element">
                        Credit or debit card
                    </label>
                    <div id="card-element">
                    <!-- a Stripe Element will be inserted here. -->
                    </div>
                    <!-- Used to display form errors -->
                    <div id="card-errors" role="alert"></div>
                </div>              
                <button action="submit" type="submit" class="btn btn-default submit-customer" ng-disabled="customerInfo.$invalid || cardForm.$invalid">Submit</button>
            </form>
        </div>
    </div>


<div class='col-md-5'>
<div class='order-summary'>
    <h4 style='text-align: center;'>Order</h4>
<div class='summary-row' ng-repeat="p in cartProducts">
    <div class='col-sm-3'>
        <img src='{{p.imagePath}}' class='checkout-thumbnail img-responsive' />
    </div>
    <div class='col-sm-9 checkout-product-info'>
        <h4 style='font-size:15px'>
            <span class='summary-quantity'>{{p.quantity}} x </span>
            {{p.name}} {{p.price}}:-
            <span class='cart-row-subtotal'>Totalt: <span style='font-weight:bold'> {{p.subTotal}}:-</span></span>
        </h4>
    </div>
</div>
 
<div class='col-md-12' style='text-align:right'>
    <h4 class='checkout-total'>Artiklar: <span class='checkout-sum'>{{parentObj.cartCount}}</span> st</h4>
    <h4 class='checkout-shipping'>Frakt: <span class='checkout-sum'>{{shipping}}</span>:-</h4>
    <h5 style='font-size:16px'>Totalt: <span class='checkout-sum'>{{totalSum}}</span>:-</h5>
</div>
</div>
</div>
</div>
</div>
 
 <!--
else{
    echo "<div class='col-md-12'>";
        echo "<div class='alert alert-danger'>";
            echo "No products found in your cart!";
        echo "</div>";
    echo "</div>";
}
-->
<<end>>