<<define "title">> Contact - Gwiyomi <<end>>

<<define "content">>


<div class='container-fluid'>
    <div class='row'>
        <div class='col-md-12'>
        <p class='information-text'>
            
        Coming soon!

        </p>
        </div>


    </div>
</div>

<<end>>