<<define "layout">>
<!doctype html>
<html>
<head>
	<meta charset="utf-8">	
 <!--   <meta http-equiv="X-UA-Compatible" content="IE=edge">-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
	<title><<template "title">></title>

	<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet"> 
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/shop-homepage.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/smoothproducts.css">
    <script src="/static/js/vendor/angular.js"></script>
    <script src="/static/js/controllers.js"></script>
    <script src="https://js.stripe.com/v3/"></script>
    
</head>
<body ng-app="gwiyomi" ng-controller="parentCtrl">

<div class="row">
<div class="col-md-12">
        <img class="slide-image" src="https://placehold.it/800x150" alt="">
    </div> 
</div>

<!-- Navigation -->
<nav class="navbar navbar-default" role="navigation">
    Kalle och Hyeonjeong
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul id="nav-menu" class="nav navbar-nav">
                <li>
                    <a href="index.html">HOME</a>
                </li><li>
                    <a href="products.html?category=earrings">EARRINGS</a>
                </li>
                <li>
                    <a href="products.html?category=bracelets">BRACELETS</a>
                </li>
                <li>
                    <a href="products.html?category=necklaces">NECKLACES</a>
                </li>
                <li>
                    <a href="products.html?category=rings">RINGS</a>
                </li>
                <li>
                    <a href="about.html">ABOUT</a>
                </li>
                <li>
                    <a href="contact.html">CONTACT</a>
                </li>
                <li>
                    <a href="cart.html">
                        CART <span class="badge" id="comparison-count" ng-controller="cartProductsCtrl">{{parentObj.cartCount}}</a>
               </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<!--   CONTENT  -->

<<template "content">>

<!-- FOOTER -->

<div id="added-confirmation"></div>

<div class="container-fluid footer-wrapper">

    <!-- Footer -->
    <footer>
        <div class="row footer-container">
            <div class="col-lg-12">
                <p class='copyright-text'>Gwiyomi &copy; 2017</p>
                <a class='fa fa-instagram' href='httpss://www.instagram.com/gwiyomi.se/'></a>
                <a class='fa fa-facebook' href='#'></a>
            </div>
        </div>
    </footer>

</div>
<!-- /.container -->

<!-- jQuery -->
<script src="/static/js/vendor/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/static/js/vendor/bootstrap.min.js"></script>

</body>
</html>
<footer>
    <script type="text/javascript" src="/static/js/vendor/smoothproducts.min.js"></script>
    <script type="text/javascript">
    /* wait for images to load */
    $(window).on('load', function() {
        $('.sp-wrap').smoothproducts();
    });
</script>
</footer>
<<end>>