<<define "title">> Home - Gwiyomi <<end>>

<<define "content">>

<div class='row' ng-controller="productCtrl">

<div ng-show="showSuccess == true" style="text-align: center;" class="col-md-12 alert alert-success" data-ng-animate="'fade'">
  <strong>{{successMsg}}</strong>
</div>

<div ng-show="showError == true" style="text-align: center;" class="col-md-12 alert alert-danger" data-ng-animate="'fade'">
  <strong>{{errMsg}}</strong>
</div>

<div class='container product-container' >
<div class='col-md-6' id='product-img'>
  <!--  <a href='#' target='_blank' class='product-img'>
        <img src='{{product.imagePath}}' style='width:100%;' />
    </a>-->
    <div class="sp-wrap">
            <a ng-href="{{product.images[0]}}"><img ng-src="{{product.images[0]}}"></a>
            <a ng-href="{{product.images[1]}}"><img ng-src="{{product.images[1]}}"></a>
    </div>
</div>
<div class='col-md-6'>
    <div class='product-title'>{{product.name}}</div>
    <h4 class='m-b-10px price-description'>{{product.price}}:-</h4>
 
    <div class='m-b-10px product-description' style="white-space:pre-wrap;">{{product.description}}</div>

    <form class='add-to-cart-form' ng-controller='addProductsCtrl'>
        <p class="quantity-left"><span class="quantity-left-number">{{product.quantity}} </span>kvar</p>
        <input type='number' class='form-control m-b-10px cart-quantity' min='1' max="{{product.quantity}}" ng-model="quantity" />
        <button style='width:100%;' ng-click="addScopeProduct()" class='btn btn-primary add-to-cart-button m-b-10px'>
            <span class='glyphicon glyphicon-shopping-cart'></span> Add to cart
        </button>

    </form>

</div>
</div>
</div>

<<end>>