<<define "title">> Home - Gwiyomi <<end>>

<<define "content">>

<div ng-controller="getProductsCtrl">

<div class='container product-wrapper'>
<div class='row'>

<div ng-show="showSuccess == true" style="text-align: center;" class="col-md-12 alert alert-success" >
  <strong>{{successMsg}}</strong>
</div>

<div ng-show="showError == true" style="text-align: center;" class="col-md-12 alert alert-danger">
  <strong>{{errMsg}}</strong>
</div>

<div ng-if="products.length == 0">
    <p class="empty-page-message">This page appears to be empty!<br>:(</p>
</div>

<div ng-if="products.length > 0" class='col-md-4 vcenter' ng-repeat="p in products">
    <div class='product'>

        <a href='product.html?id={{p.id}}' class='product-link'>
                <div class='m-b-10px'>
                    <img src='{{p.thumbnail}}' class='product-image' />
                </div>
 
            <div class='product-name m-b-10px'>{{p.name}}</div>
        </a>

        <div class='m-b-10px product-price'>
            <p>{{p.price}}:-</p>
        </div>
       
        <button ng-controller="addProductsCtrl" ng-click="addOneProduct()" class='btn btn-primary add-to-cart-button'>ADD TO CART</a>
</div>
</div>

</div>

<<end>>